{% extends "LdcEventBundle::layout.html.twig" %}
{% set path_public = asset("bundles/ldcwebsite/") %}
{% set path_img =  asset("bundles/ldcwebsite/images/") %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/ldcwebsite/css/user.css') }}" type="text/css" />
{% endblock %}

{% block body %}

<form action="{{ path('ldceventbundle_update', { 'id': id }) }}" method="post" class="form_event">
	
	<h2>Ajout d'evenement</h2>
	
	{{form_errors(form) }}

	<!-- ========== Champ Date -->	
	<div>
		{{ form_label(form.date_event, "Date de l'evenement") }}<!--
	-->{{ form_widget(form.date_event) }}
		{% if form_errors(form.date_event) is not empty  %}
			<div class="error">{{ form_errors(form.date_event) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ titre -->	
	<div>
		{{ form_label(form.title, "Titre") }}<!--
	-->{{ form_widget(form.title) }}
		{% if form_errors(form.title) is not empty  %}
			<div class="error">{{ form_errors(form.title) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ description -->	
	<div>
		{{ form_label(form.description, "Description") }}<!--
	-->{{ form_widget(form.description) }}
		{% if form_errors(form.description) is not empty  %}
			<div class="error">{{ form_errors(form.description) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Bouton validation -->
    <div class="bt-container-validation">
		<input type="submit" class="bt-gold" value="Valider" />
		<a class="bt-gold bt-sup" href="{{path('ldceventbundle_delete',{'id':id})}}">Supprimer</a>
	</div>
		
	 {{ form_rest(form) }}
</form>

{% endblock %}