{% extends "WmsIntroductionBundle::layout.html.twig" %}

{% set path_public = asset('bundles/wmsintroduction/') %}

{% block content %}

<div class="textcontent">
	
	<h2 >MES COORDONNEES</h2>

	<div class="vcard"> 
	
		<div> 
			<img src="{{path_public}}images/contact.png" alt="-"><span>Contact:</span>
			<a class="fn n">
				 <a class="family-name">LAI</a>
				 <a class="given-name">Jean-François</a> 
			</a>
		</div>
		
		<div>
			 <img src="{{path_public}}images/mail.png" alt="-"><span>Email:</span>
			 <a class="email" href="mailto:jf.lai@it-si.fr" >jf.lai@it-si.fr</a>
		</div>
			
		<div>
			<img src="{{path_public}}images/phone.png" alt="-"><span>Téléphone:</span>
			<a class="tel">06-49-65-58-04</a>
		</div>
		
		<div>
			<img src="{{path_public}}images/adress.png" alt="-"><span>Adresse:</span>
			<ul class="adr"> 
					<li class="street-address">127, Avenue de Flandre</li><br/>
					<li class="postal-code">75019</li>
					<li class="locality">Paris</li> 
					<li class="country-name">France</li>
			</ul>
		</div>
		
	</div> <!-- fin de vcard-->

</div> <!-- fin de textcontent-->

<div class="asidepicture">
    <img src="{{path_public}}images/asidepicture4.png" alt="CURICULUM VITAE">
</div>

{% endblock %}
														    		