{% extends "LdcArticleBundle::layout.html.twig" %}
{% set path_public = asset("bundles/ldcwebsite/") %}
{% set path_img =  asset("bundles/ldcwebsite/images/") %}

{% block body %}
<form method="post" {{ form_enctype(form) }} enctype="multipart/form-data" class="form_article">
	
	<h2>Modification d'article</h2>
	
	{{form_errors(form) }}
	<div class="img-article-full">
		<label>Image Actuelle</label>
		<img src="{{path_img}}articles/{{ image_name | default("default.jpg") }}" alt="article_image "/>
	</div>
	
	<!-- ========== Champ image -->	
	<div>
		{{ form_label(form.image, "Modifier l'image") }}<!--
	-->{{ form_widget(form.image) }}
		{% if form_errors(form.image) is not empty  %}
			<div class="error">{{ form_errors(form.image) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ titre -->	
	<div>
		{{ form_label(form.title, "Titre") }}<!--
	-->{{ form_widget(form.title) }}
		{% if form_errors(form.title) is not empty  %}
			<div class="error">{{ form_errors(form.title) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ Contenu -->	
	<div class="article-content">
		{{ form_label(form.content, "Contenu de l'article") }}<!--
	-->{{ form_widget(form.content) }}
		{% if form_errors(form.content) is not empty  %}
			<div class="error">{{ form_errors(form.content) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Bouton validation -->
    <div class="bt-container-validation">
		<div>
			<input type="submit" class="bt-gold" value="Valider" />
			<a class="bt-gold bt-sup" href="{{path('ldcarticlebundle_delete',{'id':id})}}">Supprimer</a>
		</div>
	</div>
	 {{ form_rest(form) }}
	 
</form>

{% endblock %}