{% set path_img =  asset("bundles/ldcwebsite/images/") %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	
		<h2>Modification du mot de passe</h2>
		<!-- ========== Erreurs Generales-->	
		<div class="error">
			{{ form_errors(form) }}
		</div>
		
		<!-- ========== Champ Ancien mot de passe -->	
		<div>
			{{ form_label(form.current_password, "Ancien mot de passe") }}<!--
		-->{{ form_widget(form.current_password) }}
			{% if form_errors(form.current_password) is not empty  %}
				<div class="error">{{ form_errors(form.current_password) }}</div>
			{% endif %}
		</div>
		
		<!-- ========== Champ Nouveau mot de passe -->	
		<div class="bk-password">
			{{ form_label(form.new.first, "Nouveau mot de passe") }}<!--
		-->{{ form_widget(form.new.first) }}
			{% if form_errors(form.new) is not empty  %}
				<div class="error">{{ form_errors(form.new) }}</div>
			{% endif %}
		</div>
		
		<div>
			{{ form_label(form.new.second, "Confirmation du mot de passe") }}<!--
		-->{{ form_widget(form.new.second) }}
		</div>
		
			<!-- ========== Bouton Validation -->	
		{{ form_rest(form) }}
		<div class="bt-container-validation">
			<input type="submit" class="bt-gold" value="Valider" />
		</div>
		
</form>
