{% extends "LdcArticleBundle::layout.html.twig" %}
{% set path_public = asset("bundles/ldcwebsite/") %}
{% set path_img =  asset("bundles/ldcwebsite/images/") %}

{% block body %}
<form method="post" {{ form_enctype(form) }} enctype="multipart/form-data" class="form_article">
	
	<h2>Ajout d'un slider</h2>
	
	{{form_errors(form) }}

	<!-- ========== Champ image -->	
	<div>
		{{ form_label(form.image, "Image") }}<!--
	-->{{ form_widget(form.image) }}
		{% if form_errors(form.image) is not empty  %}
			<div class="error">{{ form_errors(form.image) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ titre -->	
	<div>
		{{ form_label(form.title, "Titre") }}<!--
	-->{{ form_widget(form.title) }}
		{% if form_errors(form.title) is not empty  %}
			<div class="error">{{ form_errors(form.title) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ Description -->	
	<div class="article-content">
		{{ form_label(form.description, "Description de l'article") }}<!--
	-->{{ form_widget(form.description) }}
		{% if form_errors(form.description) is not empty  %}
			<div class="error">{{ form_errors(form.description) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Champ Url -->	
	<div class="article-content">
		{{ form_label(form.url, "Lien") }}<!--
	-->{{ form_widget(form.url) }}
		{% if form_errors(form.url) is not empty  %}
			<div class="error">{{ form_errors(form.descripurltion) }}</div>
		{% endif %}
	</div>
	
	<!-- ========== Bouton validation -->
    <div class="bt-container-validation">
		<input type="submit" class="bt-gold" value="Creer" />
	</div>
	 {{ form_rest(form) }}
</form>
{% endblock %}