{% extends "LdcWebsiteBundle::layout.html.twig" %}

{% set path_img =  asset("bundles/ldcwebsite/") %}
{% set path_img_articles =  asset("bundles/ldcwebsite/images/articles/") %}
{% set path_slider_img = asset("bundles/ldcwebsite/images/widgets/sliding_image_panel/") %}
{% set path_includes = "../includes/container_header.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/ldcwebsite/css/articles.css') }}" type="text/css" />
{% endblock %}

{% block container_header %}
<!-- *************** ------------------- _____________________ PANNEAU DE LOGIN _____________________ ------------------ ***************-->		
	{% include "LdcWebsiteBundle::includes/container_header.html.twig" %}
{% endblock %} 

{% block body %}	
<!-- *************** ------------------- _____________________ LISTE DES NEWS _____________________ ------------------ ***************-->		
	<section id="articles-summary">
			<h2>Dernières News</h2>
			{% for article in articles %}
				<div class="article gn-panel-wrapper">
					<div class="bdr-top-left"></div>
					<div class="bdr-bot-right"></div>
					
					<div class="gn-panel-container">
						<div class="article-img">
							<a href="{{path('ldcwebsitebundle_articlesshow',{'id':article.id}) }}" {><img src="{{path_img_articles}}{{article.image | default("default.jpg")}}"/></a>
						</div>
						<div class="article-txt">
							<div class="article-txt-wrapper">
								<div class="article-title">
									<h3><a href="{{path('ldcwebsitebundle_articlesshow',{'id':article.id}) }}">{{article.title}}</a></h3>
									<p><span class="txt-annotation">Le {{article.dateCreated | date("d/m/Y") }} par </span><a class="txt-legend">{{article.author}}</a></p>
								</div>
								<div class="article-content">
									<p>
										{{article.content(400)}}
									</p>
								</div>
							</div>
						</div><!-- ========== Fin de .article-txt -->	
					</div><!-- ========== Fin de .panel-container -->	
				</div><!-- ========== Fin de .panel-wrapper -->	
			{% endfor %}
			
			
		</section>
		
		<section id="annex">
		
		</section>
		
		<section id="pagination">
		
		</section>
{% endblock %}